main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

button {
    text-align: center;
    font-size: large;
    font-weight: 600;
    padding: 8px 12px;
    border: none;
    border-radius: 6px;
    transition: all 0.2s ease;
}

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

#title-panel {
    background-color: var(--accent2);
    height: fit-content;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding: 8px 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.title {
    color: var(--title);
    font-size: xx-large;
    font-weight: 600;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.wiki-link {
    color: rgb(118, 133, 146);
    font-size: xx-small;
    text-decoration: none;
}

.wiki-link:hover {
    color: var(--title);
}

#grid-container {
    background-color: var(--accent1);
    min-height: 512px;
    height: fit-content;
    width: 70vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    padding: 2px;
    box-sizing: border-box;
}

#grid {
    border: 1px solid black;
    min-width: 512px;
    aspect-ratio: 1 / 1;
}

#control-panel {
    background-color: var(--accent2);
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    width: 70vw;
    padding: 8px 10px;
    border-radius: 6px;
    box-sizing: border-box;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
}

.warning {
    color: rgb(240, 110, 15);
    font-size: small;
    font-weight: 500;
    margin: 0;
}

.play-pause-button {
    background-color: rgb(27, 181, 27);
    /* background-color: orange; */
}

.reset-button {
    background-color: orangered;
}